/*Begin tablet screen viewport*/
@media screen and (min-width: 641px) {

    nav ul li {
        display: inline-block; /*This lists items hoizontally and allows them to stretch.*/
        border-radius: 1em;
    }

    .desktop {
        display: none;
    }

    nav ul li {
        display: inline; /*This lists items hoizontally and allows them to stretch.*/
        border-radius: 1em;
        box-shadow: 0.5em 0.5em 0.5em rgb(15, 1, 15)
    }

    main div .center {
        width: 68%;
        border-right:0.3em solid black;
    }    
    
}